@{
    Layout = "_CRUDLayout";
    ViewData["Title"] = "Create";

}


@model ProductCreateMVPL

<h1 class="my-2">Add New Product</h1>


<form asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title"  class="form-control">
		<span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Count" class="form-label"></label>
        <input asp-for="Count" class="form-control">
        <span asp-validation-for="Count" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ExpiryDate" class="form-label"></label>
        <input asp-for="ExpiryDate" class="form-control">
        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div> 

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@Model.Category" class="form-control">
            <option disabled selected>Select Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}